<head>
	<link rel="stylesheet" href='/static/style.css' />
	<title>Game</title>
</head>
<body>
	<div>
		<a href="{{ url_for('profile') }}">Leave</a>
	</div>
	
	{% if username %}
	<p>Logged in ({{ username }})</p>
	{% else %}
	<p>Not Logged in</p>
	{% endif %}
	
	<hr>
	
	
</body>



{% block content %}
<meta http-equiv="refresh" content="30; URL=gameloop" />

<h3>Game Room {{ instance }} </h3>

<table style="width: 720px; height: 500px; margin-left: auto; margin-right: auto;" border="0" cellspacing="5" cellpadding="5">
<tbody>
<tr>
<td><p style="text-align: center;"><iframe src="gameboard" height="500" width="520" frameborder="0" ></iframe></p></td>
<td><p style="text-align: center;"><iframe src="gamechat" height="500" width="200" frameborder="0" ></iframe></p></td>
</tr>
</tbody>
</table>

<table style="width: 720px; height: 100px; margin-left: auto; margin-right: auto;" border="0" cellspacing="5" cellpadding="5">
<tbody>
<tr>
<td style="width: 520px;">
  
      <form  style="text-align: center;" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.choice.label }} {{ form.choice(size=5) }} {{ form.flag.label }} {{ form.flag() }} {{ form.submit() }}
			<br>
            {% for error in form.choice.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
  
  </td>
<td style="width: 150px;">&nbsp;</td>
</tr>
</tbody>
</table>



	<br><br><br>
{% endblock %}