<html>
    <head>
		<link rel="stylesheet" href='/static/style.css' />
        {% if name %}
        <title>{{ name }}'s Page</title>
        {% else %}
        <title>Main Page</title>
        {% endif %}
    </head>
    <body>
		
		<h2>
		{% if name %}
        <p>{{ name }}'s Page</p>
        {% else %}
        <p>Main Page</p>
        {% endif %}
		</h2>
		
        <div>
            Menu:
            <a href="{{ url_for('index') }}">Home</a>
			<a href="{{ url_for('team') }}">Team</a> | 
			{% if username %}
			<a href="{{ url_for('game') }}">Game</a>
			<a href="{{ url_for('profile') }}">Profile</a>
			<a href="{{ url_for('logout') }}">Logout</a>
			{% else %}
			<a href="{{ url_for('login') }}">Login</a>
			<a href="{{ url_for('register') }}">Register</a>
			{% endif %}
        </div>
		
		{% if username %}
        <p>Logged in ({{ username }})</p>
        {% else %}
        <p>Not Logged in</p>
        {% endif %}
		
        <hr>
		{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>