{% extends "header.html" %}

{% block content %}
	<h3>
        Profile
	</h3>
	
	{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
		
	<br>
	
         Username:<br><input type="text" id="username" name="username" value={{username}} disabled>
    <br><br> Games Played:<br><input type="text" id="Played" name="Played" value={{games}} disabled>
	<br><br> Games Won:<br><input type="text" id="Won" name="Won" value={{won}} disabled>
	<br><br> Games Lost:<br><input type="text" id="Lost" name="Lost" value={{lost}} disabled>
	<br><br><br><br>
{% endblock %}